.sidebar{

    
    border: 0.5px solid gray;
    background-color: #ffffffb9;
    border-radius: 2px;
    height: 600px;
    padding: 10px;
   
    .buttons{
        width: 100%;
        margin-top: 10px;
    }

}